
// sass variables
$black: var(--black)
$black-bis: var(--black-bis)
$black-ter: var(--black-ter)
$blue: var(--blue)
$body-background-color: var(--body-background-color)
$card-background-color: var(--md-sys-color-surfaceContainerLowest)
$dropdown-content-background-color: var(--dropdown-content-background-color)
$grey: var(--grey)
$grey-dark: var(--grey-dark)
$grey-darker: var(--grey-darker)
$grey-light: var(--grey-light)
$grey-lighter: var(--grey-lighter)
$grey-lightest: var(--grey-lightest)
$info: var(--info)
$input-background-color: var(--input-background-color)
$input-border-color: var(--input-border-color)
$link: var(--link)
$modal-card-body-background-color: var(--modal-card-body-background-color)
$primary: var(--primary)
$scheme-invert: var(--scheme-invert)
$scheme-main: var(--scheme-main)
$scheme-main-bis: var(--scheme-main-bis)
$scheme-main-ter: var(--scheme-main-ter)
$white: var(--white)
$white-bis: var(--white-bis)
$white-ter: var(--white-ter)


// declared base css variables
#{":root"}
  --black: rgb(10, 10, 10)
  --black-bis: rgb(18, 18, 18)
  --black-ter: rgb(36, 36, 36)
  --blue: rgb(72, 95, 199)
  --body-background-color: rgb(255, 255, 255)
  --md-sys-color-surfaceContainerLowest: rgb(250, 250, 250)
  --dropdown-content-background-color: rgb(255, 255, 255)
  --grey: rgb(122, 122, 122)
  --grey-dark: rgb(74, 74, 74)
  --grey-darker: rgb(54, 54, 54)
  --grey-light: rgb(181, 181, 181)
  --grey-lighter: rgb(219, 219, 219)
  --grey-lightest: rgb(237, 237, 237)
  --info: rgb(62, 143, 208)
  --input-background-color: rgb(255, 255, 255)
  --input-border-color: rgb(219, 219, 219)
  --link: rgb(72, 95, 199)
  --modal-card-body-background-color: rgb(245, 245, 245)
  --primary: rgb(0, 209, 178)
  --scheme-invert: rgb(10, 10, 10)
  --scheme-main: rgb(255, 255, 255)
  --scheme-main-bis: rgb(250, 250, 250)
  --scheme-main-ter: rgb(245, 245, 245)
  --white: rgb(255, 255, 255)
  --white-bis: rgb(250, 250, 250)
  --white-ter: rgb(245, 245, 245)


// derived, generated css variables
#{":root"}
  --black--800--lighten: rgb(30, 30, 30)

  --grey-dark--color-invert: rgb(255, 255, 255)

  --grey-darker--800--lighten: rgb(74, 74, 74)
  --grey-darker--color-invert: rgb(255, 255, 255)

  --info--color-invert: rgb(255, 255, 255)
  --info--dark-color: rgb(41, 112, 168)
  --info--light-color: rgb(239, 246, 251)

  --link--color-invert: rgb(255, 255, 255)
  --link--dark-color: rgb(56, 79, 184)
  --link--light-color: rgb(239, 241, 250)

  --primary--color-invert: rgb(255, 255, 255)
  --primary--dark-color: rgb(0, 148, 126)
  --primary--light-color: rgb(235, 255, 252)

  --scheme-invert--10--rgba: rgba(10, 10, 10, 0.1)
  --scheme-invert--2--rgba: rgba(10, 10, 10, 0.02)
  --scheme-invert--20--rgba: rgba(10, 10, 10, 0.2)
  --scheme-invert--5--rgba: rgba(10, 10, 10, 0.05)

  --white--800--lighten: rgb(255, 255, 255)

  --white-ter--1000--darken: rgb(220, 220, 220)
  --white-ter--500--darken: rgb(232, 232, 232)
  --white-ter--800--lighten: rgb(255, 255, 255)
  --white-ter--color-invert: rgba(0, 0, 0, 0.7)

